<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Who U?</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/WUlogo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Tomorrow&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="navlink"><a href="/login">Home</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/quizPage">Take a Quiz</a></div>
    <div class="navlink"><a href="/upgradePage">Upgrade</a></div>
    <div class="navlink"><a href="/passwordPage">Update Password</a></div>
  </nav>
  <section id="makeQuiz"></section>
  <section id="homeHeader">
    <h1>Welcome to "Who U?"</h1>
      <h3>List of your Completed Quizzes</h3>
  </section>
  <section id="quizzes"></section>
  <div id="quizMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="quiz" src="assets/img/hand.png" alt="idk something"/>
  </div>
  <script src="/assets/homeBundle.js"></script>
</body>
</html>