<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Who U?</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/WUlogo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Tomorrow&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="navlink"><a href="/login">Home</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/quizPage">Take a Quiz</a></div>
    <div class="navlink"><a href="/upgradePage">Upgrade</a></div>
    <div class="navlink"><a href="/passwordPage">Update Password</a></div>  
  </nav>
  <section id="imgContent">
    <img id="lostImg" src="assets/img/WUquestion.png" alt="FILLER"/>
  </section>
    
  <section id="textContent">
    <p>Somehow, you got to a page that doesn't exist!</p>
    <p>Return to the main page by clicking <a href="/maker"><b>here!</b></a></p>
  </section>
</body>
</html>